@font-face {
    font-family: "DMSans";
    src: url("fonts/DMSans.ttf") format("truetype");
}

@font-face {
    font-family: "Inconsolata";
    src: url(fonts/Inconsolata.ttf) format("truetype");
}

body {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;
}

#main_h {
    display: flex;
    flex-direction: column;
    background-color: #EAEFBD;
    border: #EA9010 10px solid;
    border-style: ridge;

    padding: 20px;

    width: fit-content;
    height: fit-content;
}

#headline {
    font-family: "DMSans";
    color: #EA9010;
    text-align: center;
    font-size: clamp(14px, 4vw, 4.5vw);
}

#titles_h {
    color: #EA9010;
    font-weight: bolder;
    text-align: center;
    font-family: "Inconsolata";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote {
    color: #EA9010;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10vh;
    font-size: clamp(13px, 2vw, 2.5vw);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }

.t {
    margin-right: 5px;
    padding-left: 10px;
}
.tel {
    border-left: #EAC067 3px solid;
}
.ti {
    border-left: #EAC067 3px solid;
}
.ter {
    border-left: #EAC067 3px solid;
    border-right: #EAC067 3px solid;
    padding-right: 8px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.LI-profile-badge {
    position: fixed;
    bottom: 0;
    right: -50px;
    z-index: 10;
}

.close-button {
    position: absolute;
    bottom: 225px;
    right: 20px;
    background-color: rgba(255, 90, 90, 0.37);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    display: none;

    font-family: monospace;
    font-weight: bold;
}

@keyframes shake-on-load {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

.LI-profile-badge.loaded {
    animation: shake-on-load 0.5s ease-in-out;
}

.close-button.loaded {
    animation: fade-in 0.5s ease-in-out;
    display: block;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    height: 100%;
}

a {
    color: #EA9010;
}